<!doctype html>
<html lang="en">

<head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signup/Login Form with Toggle button using HTML and CSS - Coding Torque</title>
</head>
<body>
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">
    
        <div class="signup">
            <form [formGroup]="signup">
                <label for="chk" aria-hidden="true">Sign up</label>
                <input type="email" name="email" placeholder="Email" formControlName="email" >
                <input type="password" name="pswd" placeholder="Password" formControlName="password" required="">
                <div *ngIf="signup.get('password')?.invalid && (signup.get('password')?.dirty || signup.get('password')?.touched)">
                    Please Enter password
                </div>
                <button (click)="onSignup()">Sign up</button>
            </form>
        </div>
    
        <div class="login">
            <form [formGroup]="login">
                <label for="chk" aria-hidden="true">Login</label>
                <input type="email" name="email" placeholder="Email" formControlName="email" required="">
                <div *ngIf="login.get('email')?.invalid && (login.get('email')?.dirty || login.get('email')?.touched)">
                   Email is Invalid
                </div>
                <input type="password" name="pswd" placeholder="Password" formControlName="password" required="">
                <div *ngIf="login.get('password')?.invalid && (login.get('password')?.dirty || login.get('password')?.touched)">
    
                    Password must be at least 6 characters long </div>
                <button (click)="onLogin()">Login</button>
            </form>
        </div>
    </div>
</body>
</html>